In [1]:
import nltk
import pandas as pd

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
fake = pd.read_csv('Fake.csv')
genuine = pd.read_csv('True.csv')

In [ ]:
display(genuine.head())

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake['genuiness'] = 0
genuine['genuiness'] = 1

In [6]:
data = pd.concat([fake, genuine], axis = 0)

In [7]:
display(data)

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [8]:
data = data.reset_index(drop=True)

In [9]:
data = data.drop(['subject', 'date', 'title'], axis = 1)

In [10]:
#pre processing

In [11]:
#tokenization
from nltk.tokenize import word_tokenize
data['text'] = data['text'].apply(word_tokenize)

In [12]:
from nltk.stem.snowball import SnowballStemmer
sb = SnowballStemmer('english', ignore_stopwords = False)

In [13]:
def stem_it(text):
  return [sb.stem(word) for word in text]

In [14]:
data['text'] = data['text'].apply(stem_it)

In [15]:
#stopwords remover
def stopword_remove(t):
  return [word for word in t if len(word)>>2]

In [16]:
data['text'] = data['text'].apply(stopword_remove)

In [17]:
data

                                                    text  genuiness
0      [donald, trump, just, couldn, wish, american, ...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [friday, reveal, that, former, milwauke, sheri...          0
3      [christma, donald, trump, announc, that, would...          0
4      [pope, franci, annual, christma, messag, rebuk...          0
...                                                  ...        ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...          1
44894  [london, reuter, lexisnexi, provid, legal, reg...          1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...          1
44896  [moscow, reuter, vatican, secretari, state, ca...          1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...          1

[44898 rows x 2 columns]

In [18]:
data['text'] = data['text'].apply(' '.join)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['genuiness'], test_size=0.25)
display(X_train.head())

print("\n")

display(y_train.head())

24639    washington reuter u.s. secretari state tillers...
38922    madrid reuter catalonia depos leader carl puig...
33451    washington reuter u.s. presid barack obama exp...
5585     michigan republican governor rick snyder hasn ...
37918    nairobi reuter kenyan polic fire tearga disper...
Name: text, dtype: object

24639    1
38922    1
33451    1
5585     0
37918    1
Name: genuiness, dtype: int64

In [21]:
#vectorization
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)
tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [22]:
print(tfidf_train)

  (0, 86525)	0.17443997752574386
  (0, 24695)	0.18649077494962193
  (0, 58973)	0.15076218626243998
  (0, 72213)	0.2120577355214923
  (0, 40586)	0.3466348223842132
  (0, 68816)	0.25706949790952177
  (0, 22081)	0.13660679917587923
  (0, 78315)	0.13894761928747615
  (0, 9045)	0.11709767084911972
  (0, 81530)	0.2714968634242593
  (0, 10966)	0.32438383291797007
  (0, 27153)	0.14861249525504036
  (0, 86535)	0.14422668094028135
  (0, 56960)	0.17963755856659
  (0, 60640)	0.3529667846958236
  (0, 87260)	0.212454118759539
  (0, 80217)	0.3035161957014373
  (0, 76108)	0.21411967224637618
  (0, 71914)	0.18764084674669138
  (0, 68256)	0.1078769786272119
  (0, 86206)	0.1433310398836581
  (1, 24032)	0.038232969871611816
  (1, 68082)	0.02900485236394593
  (1, 19409)	0.03192212385175614
  (1, 45886)	0.01957650021585006
  :	:
  (33672, 52220)	0.03448343696360283
  (33672, 54535)	0.01981013518914236
  (33672, 67932)	0.07373325728635538
  (33672, 9301)	0.02524788367529706
  (33672, 79889)	0.04836194008487575
  (33672, 38982)	0.02488850422954363
  (33672, 45886)	0.02829033490297667
  (33672, 31376)	0.05077849319897547
  (33672, 73395)	0.027174981119405736
  (33672, 29472)	0.02554443712355548
  (33672, 75008)	0.023434519385807037
  (33672, 77527)	0.02463190105271667
  (33672, 59386)	0.050629615845867455
  (33672, 52690)	0.045205504272433555
  (33672, 76004)	0.03596424028153053
  (33672, 79623)	0.019616904072012786
  (33672, 79812)	0.018041216055149637
  (33672, 17243)	0.023406691395112356
  (33672, 47354)	0.023758604183537955
  (33672, 13288)	0.040947921534647366
  (33672, 61074)	0.028189330349311547
  (33672, 63242)	0.05342613973764542
  (33672, 9045)	0.06291553081499693
  (33672, 27153)	0.026616054663061547
  (33672, 87260)	0.019024949512462596

In [23]:
#LR
from sklearn.linear_model import LogisticRegression
model_1 = LogisticRegression(max_iter = 900)
model_1.fit(tfidf_train, y_train)

LogisticRegression(max_iter=900)

In [24]:
from sklearn.metrics import accuracy_score
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.79732739420936

In [25]:
#passiveAggressiveClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [27]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is', accscore*100)

The accuracy of prediction is 99.60801781737194

In [28]:
y_pred

array([1, 0, 0, ..., 0, 1, 1])

In [29]:
y_test

43116    1
4025     0
16488    0
30729    1
22860    0
        ..
27978    1
18966    0
7045     0
34631    1
35878    1
Name: genuiness, Length: 11225, dtype: int64